:root {
  --primary-color: #8f9779;  /* хаки-зеленый */
  --secondary-color: #b5b867;  /* желто-зеленый */
  --background-color: #ABC270;  
  --text-color: #4a4a42;       /* темно-серый с зеленоватым оттенком */
  --light-text: #f8f8f2;       /* светлый кремовый */
  --error-color: #d1603d;      /* терракотовый (мягкий красный) */
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.home-page {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}